//Fonts
$font_lexend   : 'Lexend Deca',           sans-serif;
$font_shoulders: 'Big Shoulders Display', cursive;

//Colors
$orange   : hsl(31, 77%, 52%);
$cyan     : hsl(184, 100%, 22%);
$dark_cyan: hsl(179, 100%, 13%);

$white: hsla(0, 0%, 100%, 0.75);
$gray : hsl(0, 0%, 95%);


// Media Queries
$phone  : 480px;
$tablet : 768px;
$desktop: 1024px;